/* CSS Reset from https: //www.joshwcomeau.com/css/custom-css-reset */
de
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* End of CSS Reset */

@font-face {
  font-family: 'Ephesis';
  src: url('./fonts/Ephesis-Regular.woff2') format('woff2'),
    url('./fonts/Ephesis-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-background-color: #F3E6CC;
  --alternate-background-color: #EFECE8;
  --highlight-color: #E9D27A;
  --accent-color: #4E7D4A;
  --main-text-color: #7B5535;
}

header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
}

nav {
  display: flex;
  gap: 48px;
}

nav > button {
  color: var(--highlight-color);
  font-size: 3rem;
  background-color: transparent;
  border: none;
  letter-spacing: 0.4rem;
}

nav > button:hover {
  text-decoration: underline;
  text-underline-offset: 16px;
  cursor: pointer;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: var(--main-background-color);
}

h1, .subheader {
  font-family: 'Ephesis';
  line-height: 1.0;
}

.home-image {
  height: 85vh
}

.home-container {
  letter-spacing: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 4rem;
  color: var(--main-text-color);
}

.heading {
  text-align: center;
  margin-bottom: 40px;
}

.subheader {
  font-size: 6rem;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  height: 800px;
  width: 1800px;
  border: 6px solid var(--main-text-color);
  font-size: 2rem;
  background-color: var(--alternate-background-color);
}

.menu-card h2 {
  font-family: 'Ephesis';
  font-size: 6rem;
  color: var(--main-text-color);
  margin-bottom: 40px;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(2, 800px);
  gap: 80px;
  color: var(--accent-color);
}

.menu-items h3 {
  text-align: center;
  font-size: 3rem;
}

.menu-items li {
  list-style: none;
  margin: 20px;
}

.menu-items .item {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 2.2rem;
}

.menu-items .translation {
  font-style: italic;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 16px solid var(--highlight-color);
  padding-left: 80px;
  margin-left: -80px; /* Keep content centered */
  margin-top: 80px;
}

.about-image {
  margin-bottom: 80px;
  height: 500px;
}

.about-text {
  width: 1600px;
  font-size: 2rem;
  color: var(--main-text-color);
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}